body{
	background-color:#5e0b17;
	color: white;
	font-family: 'Abel';
}

body.resume {
    background: url(../images/water.jpg) no-repeat center center fixed;
		background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
}
li{
	text-decoration: none;
	display:inline;
	background-color: #5e0b17;
	color: white;
	font-family: 'Abel';
}

h1{
	font-weight: bold;
	text-align: center;
}

a:link {
	color: white;
	text-decoration: underline;
}

a:active {
	color: white;
	text-decoration: underline;
}

a:visited {
	color: gray;
	text-decoration: underline;
}

a:hover {
	color: gray;
	text-decoration: none;
}

iframe{
	display: block;
	width: 1250px;
	height: 2000px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid-container {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(3, auto);
}
	#img1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
}

	#img2 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
}

	#img3 {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	#img4 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	#img5 {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	#img6 {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}

	#img7 {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	#img8 {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
