body{
	background-color:#5e0b17;
	color: white;
	font-family: 'Abel';
}

body.resume {
    background: url(../images/water.jpg) no-repeat center center fixed;
		background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
}

li{
	text-decoration: none;
	display:inline;
	background-color: #5e0b17;
	color: white;
	font-family: 'Abel';
}

h1{
	font-weight: bold;
	text-align: center;
}

h1.resume_title{
	color: black;
}

a:link {
	color: white;
	text-decoration: underline;
}

a:active {
	color: white;
	text-decoration: underline;
}

a:visited {
	color: gray;
	text-decoration: underline;
}

a:hover {
	color: gray;
	text-decoration: none;
}

iframe{
	display: block;
	width: 1250px;
	height: 2000px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: auto 2px auto 2px auto 2px;
	grid-template-rows: auto 2px auto 2px auto 2px;
	grid-gap: 1px;

}

#img1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;		
}
#img2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;	
}
#img3 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;	
	}
#img4 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:2;
	grid-row-end:3;	
	}
#img5 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;	
}
#img6 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;	
}
#img7 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;	
}
#img8 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;	
}
